<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transmitivity</title>
    <style type="text/css">
        ul {

            list-style: none;
        }
        li {
            float: left;
        }

    </style>
  </head>
  <body>

    <h1>Transmitivity</h1>

    <p id="ipquest"></p>

    <p id="msg"></p>

    <ul id="images">

    </ul>


    <script src="/static/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8" ></script>
    <script type="text/javascript" charset="utf-8" >

        $( document ).ready(function() {

            var num_known_images = 0;
            var imageslist = $("ul#images");

            var update_images = function() {

                $.get("get_quest_and_images/" + num_known_images, function ( data ) {
                    num_known_images = data.last_id;
                    data.urls.forEach(function(entry) {
                        imageslist.append($('<li><img height="80" src="' + entry + '"></li>'));
                    });
                    $("#ipquest").text(data.ipquest)
                }).always(function() {
                    window.setTimeout(update_images, 1000);
                });
            }

            update_images();


        });
    </script>

  </body>
</html>